
:root{
    --main-bg-color:#1F2021;
    --secondary-bg-color:#4A4B4C;
    --text-color:#00C7FC;
    --secondary-text-color:#1F2021;
    --third-text-color:#A8A8A8;

    --transition-time:.2s;

    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

p {
	color:#545B6B;
	font-size:15px;
	padding:10px 5px;
}

/* start Framework */

.container{
    width: 90%;
    margin: 96.5px auto 0 auto;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: 96.5px auto 0 auto;
}

@media (max-width: 767px ) {  }

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) { 
    .containe,.container-grid{
        width: 750px;
    }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) { 
    .container,.container-grid{
        width: 970px;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { 
    .container,.container-grid{
        width: 1170px;
    }
 }
/* End Framework */


/* Start Header  */

header{
    width: 100%;
    background-color: var(--main-bg-color);
}

header .container{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #E6E6E6;

}

header .container .logo img{
	width:225px;
	height:60px;
	padding:7px 100px 10px 0px;
    
}

header .container ul{
    list-style: none;
    display: flex;
}

header .container ul li{
    display: inline-block;
    margin-right: 52.5px;
    position: relative;
}

header .container ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #00C7FC;
    position: absolute;
    bottom: -25px;
    left: 0;
    transition: width var(--transition-time);
}

header .container ul li:hover::after{
    width: 100%;
}

header .container ul li a{
    text-decoration: none;
    color: white;
    transition: color var(--transition-time);
}


header .container ul li:hover a{
    color: var(--text-color);
}

header .container i{
    color: white;
    cursor: pointer;
    position: relative;
    
}

header .container i::after{
    content: '';
    width: 2px;
    height: 200%;
    background-color: #E6E6E6;
    position: absolute;
    top: -6px;
    left: -30px;
    transition: height var(--transition-time);
}

header .container input{
    border-radius: 30px 0 0 30px;
    height: 34px;
    width: 166px;
    outline: none;
    margin-right: 3px;
    margin-top: 4px;
    border: 1px #E6E6E6 solid;
    padding-left: 13px;
    transition: width var(--transition-time);
}

header .container input.hidden{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

header .container input:focus{
    border-radius: 30px 0 0 30px;
    height: 34px;
    width: 166px;
    margin-right: 3px;
    margin-top: 4px;
    border: 1px #E6E6E6 solid;
    padding-left: 13px;
}

/* End Header  */