
:root{
    --main-bg-color:#1F2021;
    --secondary-bg-color:#4A4B4C;
    --text-color:#00C7FC;
    --secondary-text-color:#1F2021;
    --third-text-color:#A8A8A8;

    --transition-time:.2s;

    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

p {
	color:#545B6B;
	font-size:15px;
	padding:10px 5px;
}

/* start Framework */

.container{
    width: 90%;
    margin: 96.5px auto 0 auto;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: 96.5px auto 0 auto;
}

@media (max-width: 767px ) {  }

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) { 
    .containe,.container-grid{
        width: 750px;
    }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) { 
    .container,.container-grid{
        width: 970px;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { 
    .container,.container-grid{
        width: 1170px;
    }
 }
/* End Framework */


/* Start Header  */

header{
    width: 100%;
    background-color: var(--main-bg-color);
    background-image: url('../images/header_1.jpg');
    height: 720px;
    position: relative;
    z-index: 1;
}

header .overlay{
    position: absolute;
    width: 100%;
    height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0,50%);
    z-index: -2;
}

header .container{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #E6E6E6;

}

header .container .logo img{
	width:225px;
	height:60px;
	padding:7px 100px 10px 0px;
    
}

header .container .nav_top{
    z-index: 3;
}

header .container .nav_top label > i:first-of-type{
    display: none;
    color: white;
}

header .container .lg{
    display: flex;
    align-items: center;
}

header .container ul{
    list-style: none;
    display: flex;
}

header .container ul li{
    display: inline-block;
    margin-right: 52.5px;
    position: relative;
}

header .container ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #00C7FC;
    position: absolute;
    bottom: -25px;
    left: 0;
    transition: width var(--transition-time);
}

header .container ul li:hover::after{
    width: 100%;
}

header .container ul li a{
    text-decoration: none;
    color: white;
    transition: color var(--transition-time);
}


header .container ul li:hover a{
    color: var(--text-color);
}

header .container .search{
    z-index: 2;
}

header .container .search i.fa-magnifying-glass{
    color: white;
    cursor: pointer;
    position: relative;
    
}

header .container .search i.fa-magnifying-glass::after{
    content: '';
    width: 2px;
    height: 209%;
    background-color: #E6E6E6;
    position: absolute;
    top: -8px;
    left: -30px;
    transition: height var(--transition-time);
}

header .container input{
    border-radius: 30px 0 0 30px;
    height: 34px;
    width: 166px;
    outline: none;
    margin-right: 28px;
    margin-top: -1px;
    border: 1px #E6E6E6 solid;
    padding-left: 13px;
    transition: width var(--transition-time);
}

header .container input.hidden{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

header .container input:focus{
    border-radius: 30px 0 0 30px;
    height: 34px;
    width: 166px;
    margin-right: 28px;
    margin-top: -1px;
    border: 1px #E6E6E6 solid;
    padding-left: 13px;
}

@media (max-width:998px){
    header .container {
        flex-direction: column;
    }
    
header .container .nav_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .container .nav_top label > i:first-of-type{
    display: inline-block;
    color: white;
    font-size:20px;
}

header .container .lg{
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    overflow: hidden;
    height: 398px;
    transition:height var(--transition-time);

}

header .container #search_icon_nav:checked +.lg{
    height: 0px;
}

header .container #search_icon_nav:not(:checked) +.lg{
    background-color: var(--main-bg-color);

}

header .container .lg ul{
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

header .container .lg ul li{
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid #E6E6E6;
}

header .container ul li::after{
    width: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width calc(var(--transition-time)+.2s);
}

header .container ul li:hover::after{
    width: 100%;
}

header .container .search{
    display: flex;
    width: 90%;
    padding: 0 10px;
}


header .container .search input{
    display: flex;
    width: 81vw;
}


header .container .search i.fa-magnifying-glass{
    text-align: center;
    font-size: 30px;
    
}



header .container .search i.fa-magnifying-glass::after{
    width: 82vw;
    height: 2px;
    top: 46px;
    left: -77vw;
}
}

/* TODO  search nav*/
@media (min-width:1105px) and (max-width:1149px) {
    
}



/* start landing */


header .landing{
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #00c5fc80;
    height: 300px;
    width: 50%;
    z-index: -2;
}

header .landing .text{
    margin-left: auto;
    color: white;
    width: 60%;
    margin-right: 20px;
    padding-left: 20px;
}

header .landing .text p{
    color: white;
}

@media (max-width:900px) {
header .landing .text{
    width: 100%;
}
}

@media (max-width:563px) {
header .landing .text h2{
    font-size: 20px;
}

header .landing .text p{
    font-size: 10px;
}

}

/* End Header  */